<mat-card class="foto_card">
  <mat-card-header>
    <img src="./../assets/images/AbbyJuganEnLaFinca2022.jpeg" mat-card-avatar class="avatar">
    <mat-card-title>Abby jugando en la finca</mat-card-title>
    <mat-card-subtitle>Agua y lodo en un día caluroso</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/AbbyJuganEnLaFinca2022.jpeg">
  <mat-card-content>
    <p>
      Un día de relax en la finca de la abuela y aprovechando el descuido de la madre, 
      Abby juega con el agua y el lodo probocado por sistema de riego. Viva el campo.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Me gusta</button>
    <button mat-raised-button color="primary">Compartir</button>
  </mat-card-actions>
</mat-card>

<mat-card class="foto_card">
  <mat-card-header>
    <img src="./../assets/images/FamiliaSanJuan2022.jpeg" mat-card-avatar class="avatar">
    <mat-card-title>Familia reunida en el pueblo de San Juan</mat-card-title>
    <mat-card-subtitle>Lugar hermoso y tranquilo</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/FamiliaSanJuan2022.jpeg">
  <mat-card-content>
    <p>
      Un día soleado antes de subir al volcan Chimboraso, un buen lugar para pasar la noche 
      es San Juan en la provincia de Chimboraso.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Me gusta</button>
    <button mat-raised-button color="primary">Compartir</button>
  </mat-card-actions>
</mat-card>